html, body {
	margin: 0px;
	width: 100%;

}

.recipeBox {
	float: left;
	width: 30%;
	min-width: 300px;
	max-width: 500px;
	height: 25%;
	min-height: 200px;
	border: 1px solid black;
	border-radius: 50px;


}


.taskbar {
	color: red;
}
