html, body {
	margin: 0px;

	width: 100%;
	background-color: lightgray;
	font: 15px/1.5 ariel;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
ul{
	margin: 0;
	padding: 0;
}
a:hover{
	cursor: pointer;
}
header{
	background-color: darkgray;
	padding-top: 25px;
	position: fixed;
	top: 0;
	min-height: 80px;
	border-bottom: blue 3px solid;
	width: 100%;
	z-index: 999;

}
header a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: ghostwhite;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
#logo:hover{
	cursor: pointer;
	
}
#logo{
	float: left;
}
#logo h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;
}
.container{
	width:90%;
	margin: auto;
	overflow: hidden;
	display: flex;
    justify-content: space-around;
    row-gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;

}

header .highlight, header .current a{
	color: lightgreen;
	font-weight: bold;
}
header a:hover{
	color: black;
	font-weight: bold;
}


#boxes{
	width: 90%;
	padding: 5%;
	margin-top: 108px;


 
}
#boxes .box{
	float: left; 

	text-align: center;
	position: relative;
	width: 40%;
	min-width: 300px;
	aspect-ratio: 3 / 2;

	margin: 15px;

}
#boxes img{
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 10%;
	border: black 5px solid;
}
#boxes .box:hover{
	scale: 1.1;
}
#boxes .box .inPic{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}
#boxes .box .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.genericalHidden{
	display: none;
}